<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Hello, world!</title>
</head>
<style>
  .form-control {
    height: 100%;
  }

  textarea {
    width: 100%;
  }
  .jumbotron h2{
    text-align: center;
    
  }
  .jumbotron{
    margin-top: 4%;
  }
  .btn-primary{
    margin-top: 2%;
  }
</style>

<body>
  <div class="container">
    <div class="jumbotron">
      <h2>Create Jobcard</h2>
      <form method="post" action="createjobcard" , enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="postSno" value="{{product.sno}}">
        <div class="form-group">
          <label for="exampleInputEmail1">Job title</label>
          <input type="text" name="job_title" class="form-control" aria-describedby="emailHelp" placeholder="give title">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Salary Range</label>
          <input type="text" name="salary_range" class="form-control" aria-describedby="emailHelp" placeholder="Type author name">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">stream</label>
          <input type="text" name="stream" class="form-control" aria-describedby="emailHelp" placeholder="No. of pages">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">speciality</label>
          <input type="text" name="speciality" class="form-control" aria-describedby="emailHelp" placeholder="No. of pages">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Deadline</label>
          <input type="date" name="dadeline" class="form-control" aria-describedby="emailHelp" placeholder="No. of pages">
        </div>
        <div class="form-group">
          <label for="w3review">Dmands</label>
          <textarea id="w3review" name="demands" rows="4" cols="50">
</textarea></div>
        <div class="form-group">
          <label for="w3review">job description</label>
          <textarea id="w3review" name="job_description" rows="4" cols="50">
</textarea></div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>