<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
  <title>Create Teacher Profile</title>
</head>
<style>
  .form-control {
    height: 100%;
  }

  textarea {
    width: 100%;
  }
  .jumbotron h2{
    text-align: center;
    
  }
  .jumbotron{
    margin-top: 4%;
  }
  .btn-primary{
    margin-top: 2%;
  }

  .form {
    background-color: #a2f7e7;
    border-radius: 10px;
  }

  body {
    background-color: #30e3ca;
    color: #40514E;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 600;
  }
  
  .btn-dark {
    background-color: #11999E;
    border: none;
    padding: 7px 13px;
  }

  .btn-dark:hover {
    background-color: #40514E;
  }

  .btn-div{
    width: 100%;
    padding: 20px 46% 10px 46%;
  }
</style>

<body>
  <div class="container">
    <div class="form jumbotron">
      <h2>Create Teacher Profile</h2>
      <form method="post" action="createteacherprof" , enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="postSno" value="{{product.sno}}">
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input type="text" name="name" class="form-control" aria-describedby="emailHelp" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Profession</label>
          <input type="text" name="profession" class="form-control" aria-describedby="emailHelp" placeholder="Profession">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Current Job</label>
          <input type="text" name="current_job" class="form-control" aria-describedby="emailHelp" placeholder="Current Job">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Speciality</label>
          <input type="text" name="speciality" class="form-control" aria-describedby="emailHelp" placeholder="Speciality">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Experience</label>
          <input type="text" name="experience" class="form-control" aria-describedby="emailHelp" placeholder="Experience">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input type="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Location</label>
          <input type="text" name="location" class="form-control" aria-describedby="emailHelp" placeholder="Location">
        </div>
        
        <div class="form-group">
          <label for="exampleInputEmail1">Contact No.</label>
          <input type="phone" name="contact" class="form-control" aria-describedby="emailHelp" placeholder="Contact No.">
        </div>
        <div class="form-group">
          <label for="w3review">Address</label>
          <textarea id="w3review" name="address" rows="4" cols="50">
</textarea></div>
        
        <div class="form-group">
          <label for="w3review">About You</label>
          <textarea id="w3review" name="description" rows="4" cols="50">

</textarea>
        <div class="form-group">
          <label for="w3review">Special Demand (if any)</label>
          <textarea id="w3review" name="special_demand" rows="4" cols="50">

</textarea>
        </div>
        <div>
          <label for="formFile" class="form-label">Default file input example</label>
          <input class="form-control" name="image" type="file" id="formFile">
        </div>
        <div class="btn-div"><button type="submit" class="btn btn-dark btn-lg">Submit</button></div>
      </form>
    </div>
  </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>